<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>

    <div class="main-container">

        <div id="left-side-bar">

            <div class="logo">Memory Match Game</div>

            <button id="reset-button" onclick="message()">HOME</button>

            <div id="quit-message" style="display: none;">
                <div id="message-text">Are you Sure</div>
                <button id="yes" onclick="yes()">YES</button>
                <button id="no" onclick="no()">NO</button>
            </div>

        </div>

        <div id="middle-section">

            <div id="user">Player name => <br><%= users.dataValues.firstName %></div>


            <div id="input-form">

                <h2 id="input-header">Choose the level !</h2>

                <div id="levels">
                    <div class="levels" value="1" onclick="startGame(this)">Level 1</div>
                    <div class="levels" value="2" onclick="startGame(this)">Level 2</div>
                    <div class="levels" value="3" onclick="startGame(this)">Level 3</div>
                </div>

            </div>

            <div id="grid-container">

                <div class="game-grid-container">
                </div>

            </div>

        </div>

        <div id="right-side-bar">

            <div id="moves">
                <h2>moves</h2>
                <div id="current-moves">0</div>
            </div>

            <div id="time">
                <h2>time</h2>
                <div id="current-time">
                    <div id='minutes'>00</div>
                    <div id='seconds'>00</div>
                </div>
            </div>

        </div>


    </div>

    <script src="/script/script.js"></script>
</body>

</html>