<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
</head>

<body>

    <div id="main-container">

        <div id="sign-up">
            <h1>Sign Up Form</h1>
            <form class='donation-form' action="/users" method="POST">

                <div class="form-input">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstName" placeholder="First Name">
                    <!-- <hr> -->
                    <span class="error-message">That does not sound correct</span>
                </div>

                <div class="form-input">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastName" placeholder="Last Name">
                    <!-- <hr> -->
                    <span class="error-message">That does not sound correct</span>
                </div>

                <div class="form-input email">
                    <label for="email-address">Email Address</label>
                    <input type="email" id="email-address" name="email" placeholder="Email address">
                    <!-- <hr> -->
                    <span class="error-message">Invalid email address</span>
                </div>

                <div class="form-input">
                    <label for="age">How young are you ?</label>
                    <input type="number" id="age" name="age" placeholder="age"
                        onkeypress="if(this.value.length == 2) return false">
                    <!-- <hr> -->
                    <span class="error-message">Invalid Age</span>
                </div>

                <div class="form-input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <span class="error-message" style="text-align: center;grid-column: 1/3;">
                        Password must be 8-20 characters long, must have atleast 1 Uppercase Letter, 1 Lower case letter,
                        1 Special character
                    </span>
                </div>

                <div class="form-input">
                    <div id="toc">
                        <label for="terms"> I agree to the <a href="">terms and condition</a> </label>
                        <input type="checkbox" id="terms" name="terms" value="1">
                        <span class="error-message" style="text-align: center;grid-column: 1/3;">Please agree to the
                            terms and conditions</span>
                    </div>
                </div>

                <div class="form-input">
                    <button id="submit-button" type="submit"> submit</button>
                </div>

            </form>

        </div>

    </div>

    <script src="/script/signup.js"></script>
</body>

</html>